# GCP
GCP_PROJECT_ID=gdgoc-000000
GCP_REGION=asia-northeast1

# Cloud Storage
STORAGE_BUCKET=gdgoc-aaa

# Cloud KMS
KMS_KEY_RING=aaa
KMS_KEY_NAME=aaa

# Vertex AI / Gemini
GEMINI_MODEL=gemini-1.5-flash
